**/*/build
/.idea
/.gradle
.DS_Store
**/*/.externalNativeBuild
**/*/.cxx
documentation
/local.properties
/androidfioserializationprovider/build
/androidfioserializationprovider/src/main/cpp/target
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/rules.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/TargetDirectories.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/feature_tests.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/abieos-lib.dir/abieos.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/abieos-lib.dir/abieos-lib.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/CMakeCache.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/cmake_install.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/cmake_build_output.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/cmake_build_command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/build.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_generate_cmake_ninja_json_x86.stdout.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_generate_cmake_ninja_json_x86.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_build.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_build_mini.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_build_abieos-lib_x86.stderr.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86/android_gradle_build_abieos-lib_x86.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/rules.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/TargetDirectories.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/feature_tests.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/abieos-lib.dir/abieos.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/abieos-lib.dir/abieos-lib.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/CMakeCache.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/cmake_install.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/cmake_build_output.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/cmake_build_command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/build.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_generate_cmake_ninja_json_x86_64.stdout.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_generate_cmake_ninja_json_x86_64.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_build.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_build_mini.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_build_abieos-lib_x86_64.stderr.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/x86_64/android_gradle_build_abieos-lib_x86_64.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/rules.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/abieos-lib.dir/abieos.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/abieos-lib.dir/abieos-lib.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeCache.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_install.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_output.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/build.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_generate_cmake_ninja_json_armeabi-v7a.stdout.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_generate_cmake_ninja_json_armeabi-v7a.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build_abieos-lib_armeabi-v7a.stderr.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build_abieos-lib_armeabi-v7a.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/rules.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/abieos-lib.dir/abieos.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/abieos-lib.dir/abieos-lib.cpp.o
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeCache.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_install.cmake
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_build_output.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_build_command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/build.ninja
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_generate_cmake_ninja_json_arm64-v8a.stdout.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_generate_cmake_ninja_json_arm64-v8a.command.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build_mini.json
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build_abieos-lib_arm64-v8a.stderr.txt
/androidfioserializationprovider/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build_abieos-lib_arm64-v8a.command.txt
